.searchPanel {
    background-color: rgb(121, 253, 127);
    height: 100vh;
    width: 30%;
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    scrollbar-width: 'thin';
    scrollbar-color: 'unset';
}